<div th:replace="fragments/header"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
    <div class="container-fluid d-fle justify-content-between">
        <img class="d-block" th:src="@{img/logo.png}" alt="Logo of pay my buddy" style="width: 200px">
        <div>
            <p class="d-inline-block m-0 me-5">Welcome <span th:text="${connectedUser.firstname}"></span> - Balance :
                <span th:text="${connectedUser.balance} + ' €'"></span></p>
        </div>
        <div class="d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a id="logout" class="nav-link" href="/logout">Log off</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="bg-light p-3" aria-label="breadcrumb">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transfer</li>
    </ol>
</nav>
<div class="container">
    <div class="d-flex justify-content-between">
        <h2>Send Money</h2>
        <button id="btn-add-connection" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-connection">
            Add Connection
        </button>
    </div>
    <div class="bg-light d-flex justify-content-center py-5">
        <div class="d-flex flex-column">
            <div th:if="${success}">
                <p id="transaction-success" class="alert alert-success text-center">Transaction envoyée avec succès</p>
            </div>
            <div th:if="${errors}">
                <div class="alert alert-danger text-center">
                    <p class="m-0" th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
                </div>
            </div>
            <form class="d-flex justify-content-center" action="" method="post">
                <select class="form-select" name="connectionId">
                    <option value="" selected>Select a connection</option>
                    <option th:each="connection : ${connections}" th:value="${connection.id}"
                            th:text="${connection.firstname} + ' ' + ${connection.lastname}"></option>
                </select>
                <div class="input-group">
                    <input type="number" name="amount" step="0.01" class="form-control" id="amountInput"
                           placeholder="0 €">
                </div>
                <div class="input-group me-5">
                    <input type="text" name="description" class="form-control" id="descriptionInput"
                           placeholder="Description">
                </div>
                <button type="submit" class="btn btn-success" style="padding-left: 50px; padding-right: 50px">Pay
                </button>
            </form>
        </div>
    </div>
    <h2>My Transcations</h2>
    <table id="transactions" class="table table-striped text-center border border-dark border-3">
        <thead>
        <tr class="bg-success text-light">
            <th scope="col">Connections</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Fee</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}" class="py-3">
            <th th:text="${transaction.user.firstname} + ' ' + ${transaction.user.lastname}"></th>
            <td th:text="${transaction.description}"></td>
            <td th:text="${#numbers.formatDecimal(transaction.amount, 1, 2)} + ' €'"></td>
            <td th:text="${#numbers.formatDecimal(transaction.fee, 1, 2)} + ' €'"></td>
        </tr>
        </tbody>
    </table>
    <!--
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><<</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">>></a></li>
        </ul>
    </nav>
    -->
</div>
</div>
<div id="add-connection" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Add a connection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="connections" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}" th:attr="id=${user.id}" onclick="addConnection(this.id)">
                        <td th:text="${user.firstname}">Nom</td>
                        <td th:text="${user.lastname}">Email</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>